body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 30px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;

}

th, td{
    border: 1px solid #333;
    padding: 10px;
}

th{
    background-color: #eaeaea;
    font-weight: bold;
}

td{
    vertical-align: top;
}

th[colspan="2"] {
    background-color: #dcdcdc;
    text-align: center;
    font-style: italic;
}